{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h2>Welcome to the Newspade project</h2>
<hr/>
<h3> Inspiration:</h3>
<p> 
This project was inspired by the current events happening in the news today. There seemed
to be a disconnect between the news i always wanted to receive in the fact that i had to go
to different sites and navigate tabs all while searching for more information of what was going on.
</p>
<p>
In addition to that, i am an avid redditor and i especially spend alot of time on the subreddit r/python.
However, I noticed a trend where there were not enough articles shown during the week but the weekends
seem to be busting with life. Wanting to read more on my favorite programming language and 
get as much info from the news without the need of navigating through different pages i decided to create
a small website that would address the needs.
</p>
<p>I plan on making this project open source because seriously, who doesnt love open source projects :).
I will also work consistenty hard to make this project better and improve the whole user experience as well
as this about page.</p>
<hr/>

{% endblock %}